:root{
    --color-primary: #525252;
    --color-primary-second: #363636;
    --color-secondary: #e1e3e2;
    --color-secondary-second: #858585;
    --color-accent: #4ba36f;
    --color-accent-second: #00bf00;
}