:root{
    --color-primary: #5e7d5d;
    --color-primary-second: #183e0b;
    --color-secondary: #ffffff;
    --color-secondary-second: #a6a6a6;
    --color-accent: #00d5ff;
    --color-accent-second: #00ffc6;
}