body {
    font-family: Rubik;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    margin: 0;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background-color: none;
}

::-webkit-scrollbar-thumb { /* Handle */
    box-shadow: inset 0 0 10px 10px var(--color-secondary-second);
    border-radius: 0.5rem;
    border: solid 4px transparent;
}

::-webkit-scrollbar-thumb:hover { /* Handle */
    box-shadow: inset 0 0 10px 10px var(--color-secondary);
}