.mdc-button--outlined:not(:disabled) {
    color: var(--color-accent);
    border-color: var(--color-accent);
}

.mdc-button .mdc-button__ripple::before,
.mdc-button .mdc-button__ripple::after {
    background-color: var(--color-accent);
}