.desc-block {
    display: flex;
    margin-top: 5%;
    margin-left: 45%;
    left: 30%;
    width: 50vw; /* 50% szerokości widoku */
    height: calc(64vh - 4px); /* 60% wysokości widoku */

    background-color: #f0f0f0;
    border: 2px solid black;
}

.desc-block p {
    margin-bottom: 10px;
}

.action-buttons {
    margin-bottom: 10px;
}

.edit-button,
.save-button {
    background-color: #363636;
    border: 2px solid black;
    margin-top: 8%;
    margin-left: 10%;
    color: white;
    z-index: 1;
    width: 10vw; /* Adjust the viewport width based on your design */
    height: 6vh; /* Adjust the viewport height based on your design */
}

.description-edit {
    height: calc(100% - 6vw); /* 100% wysokości - 5% szerokości widoku */
    width: 230%;
    margin-left: -40%;
    margin-top: 20%;
    color: black;
    font-size: 1.7vw; /* 2% szerokości widoku */
    border: 1px solid #ccc;
    padding: 0.2vw; /* 0.2% szerokości widoku */
}
