.game-block {
    display: flex;
    flex-direction: column; /* Kierunek rozmieszczenia elementów - pionowy */
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%; /* Szerokość 100% dostosowuje bloki do dostępnego miejsca */
}

/* Dodatkowe style wyglądu tekstu w blokach */
.game-block p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

/* Lekki odstęp na górze pierwszego prostokąta */
.game-block:first-child {
    margin-top: 10px;
}

.button1 {
  float: right;
  width: 100px;
  height: 40px;
  background-color: #6effca; /* Light green */
  color: black;
  border: 2px solid #04AA6D; /* Green */
  transition-duration: 0.4s;
  padding: 2px;
  margin: 2px auto;
  border-radius: 5px;
}

.button1:hover{
  background-color: white;
  border: 2px solid #04AA6D;
}

.button2 {
  float: right;
  height: 40px;
  width: 100px;
  background-color: #fa7e73; /* Light red */
  color: black;
  border: 2px solid #e61e0b; /* Red */
  transition-duration: 0.4s;
  padding: 2px;
  margin: 2px auto;
  border-radius: 5px;
}

.button2:hover{
  background-color: white;
  border: 2px solid #e61e0b;
}

.button3 {
  float: right;
  height: 40px;
  width: 100px;
  background-color: #bdbdbd; /* Light grey */
  color: black;
  border: 2px solid #8a8a8a; /* Grey */
  transition-duration: 0.4s;
  padding: 2px;
  margin: 2px auto;
  border-radius: 5px;
}

.button3:hover{
  background-color: white;
  border: 2px solid #8a8a8a;
}